$enable-responsive-font-sizes: true !default;
@import '~bootstrap/scss/bootstrap';

@font-face {
    // Variable Font
    font-family: 'Roboto Mono';
    src: url('/fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf');
}

html,
body,
#app {
    height: 100%;
    font-family: 'Roboto Mono';
    color: white;
}

:root {
    --backgound-color: #151515;
    --nav-bg: #000000;
    --green: #1ea044;
}

body {
    background: var(--backgound-color);
}

#app {
    display: flex;
    flex-direction: column;
}
